name: Full Portfolio CI/CD Pipeline

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [react-submodule-updated]

jobs:
  build:
    name: (CI) Build Containers and Push to Docker Registry
    runs-on: ubuntu-latest

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN_GITHUB }}

      - name: Check out submodule branches
        run: |
          git submodule foreach 'git checkout main || :'
          git submodule foreach 'git pull origin main || :'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push docker-compose.prod.yml containers
        run: |
          make production-build ENV=production GITHUB_SHA=${{ github.sha }} BUILD_ARG="--build-arg VITE_API_BASE_URL=$VITE_API_BASE_URL"
          make production-push ENV=production GITHUB_SHA=${{ github.sha }}

  deploy:
    name: (CD) Deploy to GCP VM Server

    needs: build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy docker-compose file into GCP VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          source: "ci-cd/server-setup.yml,certbot-initial.yml,certbot-renewal.yml"
          target: "~/app/"
          strip_components: 1
          timeout: 120s
          overwrite: true

      - name: Deploy to GCP VM via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          script: |
            export GITHUB_SHA=${{ github.sha }}
            cd ~/app
            docker compose -f server-setup.yml down
            docker system prune -af

            docker compose -f server-setup.yml pull
            docker compose -f server-setup.yml --env-file .env.production up -d --remove-orphans
            echo "Deployment to GCP VM completed."
    