name: Full Portfolio CI/CD Pipeline

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [react-submodule-updated]

jobs:
  build:
    name: (CI) Build Containers and Push to Docker Registry
    runs-on: ubuntu-latest

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      NGINX_PORT: ${{ secrets.NGINX_PORT }}
      NODEJS_PORT: ${{ secrets.NODEJS_PORT }}
      REACTJS_PORT: ${{ secrets.REACTJS_PORT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push PHP
        run: |
          make production-build-php ENV=production
          make production-push-php ENV=production

      - name: Build and push Nginx
        run: |
          make production-build-nginx ENV=production
          make production-push-nginx ENV=production

  deploy:
    name: (CD) Deploy to GCP VM Server

    needs: build

    runs-on: ubuntu-latest

    env:
      APP_ENV: ${{ secrets.APP_ENV }}
      NGINX_PORT: ${{ secrets.NGINX_PORT }}
      NODEJS_PORT: ${{ secrets.NODEJS_PORT }}
      REACTJS_PORT: ${{ secrets.REACTJS_PORT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Deploy to GCP VM via SSH
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to GCP Cloud Run
        run: |
          echo SERVICE_NAME $SERVICE_NAME
          gcloud run deploy $SERVICE_NAME \
            --image docker.io/johnflorentinodev/portfolio-nginx-registry:latest \
            --platform managed \
            --allow-unauthenticated

          gcloud run deploy php-backend-service \
            --image docker.io/johnflorentinodev/portfolio-php-registry:latest \
            --allow-unauthenticated
    